@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Slab');
* {
    box-sizing: border-box;
  }
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 100px;
    grid-row-gap: 20px; 
  }

  div {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px; 
    text-align: center;
    color: white; 
    background-color: plum;
    padding: 50px 0; 
  
  }

  .A .B .C {
    display: flex;
    justify-content: center; 
    text-align: center; 
  }

  .A {
    background-color: pink;
  }

  .B {
    background-color: green; 
  }

  .C {
    background-color: yellowgreen;
  }


  @media only screen and (min-width: 600px) {

  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: 1fr 2fr; 
    grid-row-gap: 10px;  
    grid-column-gap: 10px; 
    }

    .A {
      grid-column: 1/3; 
    }
div {
  background-color: lemonchiffon;
  font-family: Indie;
}

  }